@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: white;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

.font-fairplay-display {
  font-family: "Playfair Display", serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-bricolage-grotesque {
  font-family: "Bricolage Grotesque", sans-serif;
}

@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0);
  }
}

.animate-scroll-up {
  animation: scroll-up 30s linear infinite;
}

.animate-scroll-down {
  animation: scroll-down 30s linear infinite;
}